<mat-toolbar color="primary">
  <mat-toolbar-row>

    <h1>NormativiAPP</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/welcome'"> Home </a>
      <a mat-button [routerLink]="'/normativi'"> Normativi </a>
      <a mat-button [routerLink]="'/admin'"> Admin </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">Aplikacija za rad sa normativima</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- <div class="flex">

  <app-lighter letter="A" (letterClicked)="notifyWhenClickLighter($event)"></app-lighter>
  <app-lighter letter="B" (letterClicked)="notifyWhenClickLighter($event)"></app-lighter>
  <app-lighter letter="C" (letterClicked)="notifyWhenClickLighter($event)"></app-lighter>
  <app-lighter letter="D" (letterClicked)="notifyWhenClickLighter($event)"></app-lighter>
</div>
{{dogadjaj}} -->
